<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">GAPeria</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>História</h2>
        <p style="text-align: justify;">A GAPeria, bateria universitária da USP de São Carlos, representante do CAASO, foi fundada em meados de setembro de 2003, com um financiamento do GAP e com a disposição dos alunos do curso de Engenharia Elétrica, em sua maioria, que se mobilizaram para a formação de uma bateria que representasse o CAASO, adquirindo inicialmente cerca de 70 instrumentos.</p>

        <p style="text-align: justify;">Mobilizamos muita gente para que a GAPeria pudesse estrear no Tusca 2003: realizamos ensaios quase todos os dias durante 3 semanas consecutivas, e o resultado não poderia ter sido melhor: agitamos a galera em todos os dias de competição e a GAPeria foi o assunto mais comentado do torneio, deixando os alunos da escolinha à beira da estrada completamente mudos.</p>

        <p style="text-align: justify;">O motivo de tanta vontade em se ter uma bateria assim é muito simples: abafar a Federupa. Durante muito tempo os poucos instrumentos pertencentes ao CAASO ficaram esquecidos na sala da Atlética, sendo eles tocados em eventuais torneios e jogos por alguns alunos sem nenhum tipo de ensaio ou treino.</p>

        <p style="text-align: justify;">Atualmente, com 11 anos de existência, a GAPeria é uma bateria universitária independente. Mesmo tendo se emancipado apenas em 2010, fundando uma diretoria autônoma e independente, a GAPeria atua com grande influência no cenário nacional das baterias universitárias. Somos fundadores do principal desafio de baterias do país e também da liga nacional das baterias universitárias, a LNBU.</p>

       <p style="text-align: justify;">Marcamos presença nos principais torneios universitários dos alunos de São Carlos, tais como o Tusquinha, TUSCA, CaipirUSP e Interbatuc. Além disso, fazemos apresentações em baladas na região de São Carlos, nos apresentamos anualmente nas formaturas e colações de grau dos institutos da USP São Carlos e tocamos juntos das principais escolas de samba da cidade de São Paulo.</p>
      </div>

      <div class="col-md-12">
        <h2>Ensaios</h2>

        <p style="text-align: justify;">Os ensaios da GAPeria ocorrem semanalmente, em grande parte do ano, incluindo nas férias! Apesar dos compromissos com torneios e apresentações, antes de tudo somos um grupo de amigos que curte uma zoeira nos ensaios e que tem orgulho em representar o CAASO. Para este ano de 2015, os ensaios estão previstos para ocorrerem normalmente das 12:00 às 13:30 nas terças e das 18:00 às 20:30 nas quartas e quintas, sendo eles na arquibancada do ginásio do CEFER.</p>

        <h3>Horários de ensaio</h3>

        <ul class="list-unstyled">
          <li><b>Terça:</b> 12h30</li>
          <li><b>Quinta e Quinta:</b> 19h00</li>
        </ul>

        <ui-gmap-google-map center="map.center" zoom="map.zoom">
          <ui-gmap-marker coords="marker.coords" options="marker.options"
            idkey="marker.id" ng-repeat="marker in markers"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>

      <div class="col-md-12">
        <h2>Contato</h2>

        <div class="col-md-12" style="padding-left: 0px;">
          <p style="text-align: justify;">Caso queira fechar um parceria conosco ou deseja que a GAPeria toque em seu evento, entre em contato pelo email gaperiacaaso@gmail.com. Visite nossa galeria para conhecer um pouco do nosso trabalho!!!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-colored">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Patrocínios e Parcerias</h2>
      </div>

      <div class="col-md-2 col-sm-2">
        <a href="https://www.facebook.com/pages/Coruj%C3%A3o-Lanches/635760733113979" target="_blank">
          <img src="media/cover.png" alt="" class="img-responsive img-customer" />
        </a>
      </div>
    </div>
  </div>
</div>
